.header{
  width: calc(100% - 32px);
  min-width: 288px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px){
  .header{
    width: calc(100% - 48px);
  }
}

@media (min-width: 1024px){
  .header{
    width: calc(100% - 96px);
  }
}

@media (min-width: 1280px){
  .header{
    width: calc(100% - 296px);
    max-width: 984px;
  }
}
