.logo{
  width: 156px;
  height: 36px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

@media (min-width: 768px){
  .logo{
    width: 190px;
    height: 44px;
  }
}

